.linkStyle {
  width: 150px;
  height: 20px;
  border: none;
  background-color: transparent;
  color: darkblue;
  text-decoration: underline;
}

.linkStyle:hover {
  background-color: #fcf4cf;
  color: #aa1313;
}
